.team {
    width: 100%;
    height: 1024px;
    background: linear-gradient(180deg, #3A2868 39.01%, #2A1C4C 89.9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 0 20px;
}

.team-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 990px;
    width: 100%;
    padding-top: 60px;
}

.team-title h2 {
    font-weight: bold;
    font-size: 80px;
    text-shadow: 0px 0px 64px #E543FF;
    background: linear-gradient(#E440FF 50%, rgba(159, 70, 255, 0.6) 100%);
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team-title .prefix {
    width: 57px;
    height: 11px;
    background-color: #B500FF;
    border-radius: 2px;
    box-shadow: 0 0 20px #B500FF;
}