.header {
    position: fixed;
    z-index: 15;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 47px 15px 0;
}

.header-content {
    display: flex;
    max-width: 1486px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content .logo {
    display: flex;
    align-items: center;
    max-width: 180px;
}

.header-content .logo h2 {
    margin-left: 15px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;

    color: #FFFFFF;
}

@media (max-width: 337px) {
    .header-content .logo h2 {
        display: none;
    }
}